In [1]:
import os
os.getcwd()

'C:\\Users\\Nidhi\\Downloads\\ecommerce-analytics-python-powerbi'

In [6]:
import pandas as pd
import numpy as np

orders = pd.read_csv('olist_orders.csv')
customers = pd.read_csv('olist_customers.csv')
order_items = pd.read_csv('olist_order_items.csv')
payments = pd.read_csv('olist_order_payments.csv')

print(orders.shape)
print(customers.shape)
print(order_items.shape)
print(payments.shape)

(99441, 8)
(99441, 5)
(112650, 7)
(103886, 5)

Merge Orders + Customers

In [7]:
df = orders.merge(customers, on='customer_id', how='left')
df.shape

(99441, 12)

Add Order Items

In [8]:
df = df.merge(order_items, on='order_id', how='left')
df.shape

(113425, 18)

Add Payments

In [9]:
df = df.merge(payments, on='order_id', how='left')
df.shape

(118434, 22)

Preview Data

In [10]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,...,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,1.0,credit_card,1.0,18.12
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,...,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,3.0,voucher,1.0,2.00
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,...,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,2.0,voucher,1.0,18.59
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,...,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76,1.0,boleto,1.0,141.46
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,...,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22,1.0,credit_card,3.0,179.12

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118434 entries, 0 to 118433
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118434 non-null  object
 1   customer_id                    118434 non-null  object
 2   order_status                   118434 non-null  object
 3   order_purchase_timestamp       118434 non-null  object
 4   order_approved_at              118258 non-null  object
 5   order_delivered_carrier_date   116360 non-null  object
 6   order_delivered_customer_date  115037 non-null  object
 7   order_estimated_delivery_date  118434 non-null  object
 8   customer_unique_id             118434 non-null  object
 9   customer_zip_code_prefix       118434 non-null  int64
 10  customer_city                  118434 non-null  object
 11  customer_state                 118434 non-null  object
 12  order_item_id                  117604 non-null  float64
 13  product_id                     117604 non-null  object
 14  seller_id                      117604 non-null  object
 15  shipping_limit_date            117604 non-null  object
 16  price                          117604 non-null  float64
 17  freight_value                  117604 non-null  float64
 18  payment_sequential             118431 non-null  float64
 19  payment_type                   118431 non-null  object
 20  payment_installments           118431 non-null  float64
 21  payment_value                  118431 non-null  float64
dtypes: float64(6), int64(1), object(15)
memory usage: 19.9+ MB

PART 2️⃣

How long does delivery take?

In [13]:
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])
df['order_delivered_customer_date'] = pd.to_datetime(df['order_delivered_customer_date'])
df['order_estimated_delivery_date'] = pd.to_datetime(df['order_estimated_delivery_date'])

df['delivery_days'] = (
    df['order_delivered_customer_date'] -
    df['order_purchase_timestamp']
).dt.days

Late Delivery Flag

In [14]:
df['late_delivery'] = np.where(
    df['order_delivered_customer_date'] > df['order_estimated_delivery_date'],
    'Late', 'On Time'
)

Time Dimensions

In [15]:
df['order_year'] = df['order_purchase_timestamp'].dt.year
df['order_month'] = df['order_purchase_timestamp'].dt.month

Revenue Metric

In [16]:
df['revenue'] = df['price'] + df['freight_value']

Result of part 2

In [17]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,freight_value,payment_sequential,payment_type,payment_installments,payment_value,delivery_days,late_delivery,order_year,order_month,revenue
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,8.72,1.0,credit_card,1.0,18.12,8.0,On Time,2017,10,38.71
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,8.72,3.0,voucher,1.0,2.00,8.0,On Time,2017,10,38.71
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,8.72,2.0,voucher,1.0,18.59,8.0,On Time,2017,10,38.71
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,...,22.76,1.0,boleto,1.0,141.46,13.0,On Time,2018,7,141.46
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,...,19.22,1.0,credit_card,3.0,179.12,9.0,On Time,2018,8,179.12

LAte Deleivery Status

In [19]:
df['delivery_days'].describe()

count    115037.000000
mean         12.019237
std           9.461440
min           0.000000
25%           6.000000
50%          10.000000
75%          15.000000
max         209.000000
Name: delivery_days, dtype: float64

In [20]:
df['late_delivery'].value_counts()

late_delivery
On Time    109407
Late         9027
Name: count, dtype: int64

What was the output of your Python analysis?

Python was used for data preparation and feature engineering. I validated delivery metrics, late delivery percentage, revenue calculations, and time-based features before exporting the dataset to Power BI for visualization.

PART 3️⃣ – DATA CLEANING (BUSINESS RULES)

Keep only Delivered Orders

In [21]:
df = df[df['order_status'] == 'delivered']

Remove invalid deliveries

In [22]:
df = df[df['delivery_days'].notnull()]

Remove duplicates

In [23]:
df = df.drop_duplicates()

Result of PArt 3

In [24]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,freight_value,payment_sequential,payment_type,payment_installments,payment_value,delivery_days,late_delivery,order_year,order_month,revenue
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,8.72,1.0,credit_card,1.0,18.12,8.0,On Time,2017,10,38.71
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,8.72,3.0,voucher,1.0,2.00,8.0,On Time,2017,10,38.71
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,8.72,2.0,voucher,1.0,18.59,8.0,On Time,2017,10,38.71
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,...,22.76,1.0,boleto,1.0,141.46,13.0,On Time,2018,7,141.46
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,...,19.22,1.0,credit_card,3.0,179.12,9.0,On Time,2018,8,179.12

PART 4️⃣ – KPI ANALYSIS

In [25]:
total_orders = df['order_id'].nunique()
total_revenue = df['revenue'].sum()
avg_delivery_days = df['delivery_days'].mean()
late_delivery_pct = (
    df[df['late_delivery'] == 'Late'].shape[0] / df.shape[0]
) * 100

total_orders, total_revenue, avg_delivery_days, late_delivery_pct

(96470,
 np.float64(16112783.6),
 np.float64(12.018873337390247),
 7.846648700339041)

PART 5️⃣ – BUSINESS INSIGHTS

Revenue by Payment Type

In [26]:
df.groupby('payment_type')['revenue'].sum().sort_values(ascending=False)

payment_type
credit_card    12380226.82
boleto          2769932.71
voucher          754212.72
debit_card       208267.89
Name: revenue, dtype: float64

Orders by State

In [27]:
df.groupby('customer_state')['order_id'].nunique().sort_values(ascending=False)

customer_state
SP    40494
RJ    12350
MG    11354
RS     5344
PR     4923
SC     3546
BA     3256
DF     2080
ES     1995
GO     1957
PE     1593
CE     1279
PA      946
MT      886
MA      717
MS      701
PB      517
PI      476
RN      474
AL      397
SE      335
TO      274
RO      243
AM      145
AC       80
AP       67
RR       41
Name: order_id, dtype: int64

Delivery Performance

In [28]:
df['late_delivery'].value_counts(normalize=True) * 100

late_delivery
On Time    92.153351
Late        7.846649
Name: proportion, dtype: float64

PART 6️⃣ – EXPORT FINAL DATASET

In [29]:
df.to_csv('cleaned_ecommerce_data.csv', index=False)